*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   outline: none;
   box-sizing: border-box;
}

.App {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff8bc;
}

.todoapp-container {
   width: 400px;
   margin-top: 5px;
   .form {
      display: flex;
      height: 50px;
      input {
         border-radius: 2px;
         &:first-child {
            flex: 1;
            padding: 0 10px;
            font-size: 20px;
            margin-right: 5px;
            border: 1px solid #b7c4cf;
         }
         &:last-child {
            width: 50px;
            border: none;
            color: #fff;
            background-color: #367e18;
            cursor: pointer;
         }
      }
   }
}

.todo-list {
   max-height: 50vh;
   overflow-y: auto;
   margin-top: 5px;
   .todo {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 50px;
      background-color: #ffe9a0;
      user-select: none;
      margin-bottom: 5px;
      padding: 0 5px;
      border-radius: 2px;
      &:last-child {
         margin-bottom: 0;
      }
      .title {
         flex: 1;
         color: #000;
         font-size: 18px;
         padding: 0 5px;
         word-break: break-all;
      }
      .remove-btn {
         border: none;
         color: #fff;
         background-color: #cc3636;
         width: 20px;
         height: 20px;
         border-radius: 5px;
      }
   }
}
